<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Horizontal Motion Simulation</title>
        <meta name="Description" content="Horizontal motion physics simulation and calculator">
        <meta name="viewport" content="width=device-width">
        <link rel="icon" type="image/png" href="../images/favicon-32.png">
        <link rel="apple-touch-icon" href="../images/favicon-180.png">
        <script src="https://cdn.jsdelivr.net/npm/vue@3.0.6"></script>
        <link rel="stylesheet" href="styles.css">
        <script src="horizontal-motion.js"></script>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    </head>
    <body onload="createApp()">
        <div id="app">
            <header>
                <a title="Home" href="../" class="icon"><img alt="" src="../images/home.svg"></a>
                <button v-show="!infoVisible" title="About" class="icon" @click="infoVisible=true"><img alt="" src="../images/info.svg"></button>
                <button v-show="infoVisible" title="Close" class="icon" @click="infoVisible=false"><img alt="" src="../images/x.svg"></button>
                <h1>Horizontal Motion</h1>
            </header>

            <noscript>
                <p>This simulation requires JavaScript</p>
            </noscript>

            <div id="simulation" v-show="!infoVisible">
                <div id="input" hidden>
                    <section>
                        <label for="massInput"><b>Mass:</b> {{ mass.toFixed(1) }} Kg</label>
                        <input type="range" min="1" max="10" step="0.1" v-model.number="mass" @dblclick="mass=5" id="massInput">
                    </section>
                    <section>
                        <label for="forceInput"><b>Applied Force:</b> {{ force.toFixed(1) }} N</label>
                        <input type="range" min="-10" max="10" step="0.1" v-model.number="force" @dblclick="force=0" id="forceInput">
                    </section>
                    <section>
                        <label for="staticFrictionInput"><b>Static Friction:</b> {{ staticFriction.toFixed(2) }}</label>
                        <input type="range" min="0" max="1" step="0.01" v-model.number="staticFriction" @dblclick="staticFriction=0" id="staticFrictionInput">
                    </section>
                    <section>
                        <label for="kineticFrictionInput"><b>Kinetic Friction:</b> {{ kineticFriction.toFixed(2) }}</label>
                        <input type="range" min="0" max="1" step="0.01" v-model.number="kineticFriction" @dblclick="kineticFriction=0" id="kineticFrictionInput">
                    </section>
                    <section>
                        <label for="gravityInput"><b>Gravity:</b> {{ gravity.toFixed(1) }} m/s<sup>2</sup></label>
                        <input type="range" min="0" max="10" step="0.1" v-model.number="gravity" @dblclick="gravity=9.8" id="gravityInput">
                    </section>
                </div>

                <div id="output" hidden>
                    <div id="simControls">
                        <button @click="toggle" class="icon" :title="active ? 'Pause' : (time === 0 ? 'Start' : 'Resume')">
                            <img alt="" :src="active ? '../images/pause.svg' : '../images/play.svg'">
                        </button>
                        <button @click="update" class="icon" title="Step Forward" :disabled="active">
                            <img alt="" src="../images/step-forward.svg">
                        </button>
                        <button @click="reset" class="icon" title="Reset" :disabled="time === 0">
                            <img alt="" src="../images/reset.svg">
                        </button>
                    </div>
                    <svg width="800px" viewBox="0 0 10 2">
                        <!-- Ruler marks -->
                        <line v-for="(_,n) in 101" :x1="references[1] + n*0.1" y1="1.7" :x2="references[1] + n*0.1" y2="1.9" stroke-width="0.01" stroke="#000000"></line>
                        <line v-for="(_,n) in 11"  :x1="references[0] + n"     y1="1.6" :x2="references[0] + n"     y2="2.0" stroke-width="0.02" stroke="#000000"></line>

                        <!-- Force vector -->
                        <line x1="5" :y1="1.2 - 0.05*mass+0.1" :x2="5+0.3*force" :y2="1.2 - 0.05*mass+0.1" stroke-width="0.1" stroke="#808080"></line>
                        <path v-show="force&gt;0" :d="`M${5+0.3*force} ${1.3 - 0.05*mass+0.1} L${5.1+0.3*force} ${1.2 - 0.05*mass+0.1} L${5+0.3*force} ${1.1 - 0.05*mass+0.1} Z`" stroke="#808080" stroke-width="0.025" fill="#808080"/>
                        <path v-show="force&lt;0" :d="`M${5+0.3*force} ${1.3 - 0.05*mass+0.1} L${4.9+0.3*force} ${1.2 - 0.05*mass+0.1} L${5+0.3*force} ${1.1 - 0.05*mass+0.1} Z`" stroke="#808080" stroke-width="0.025" fill="#808080"/>

                        <!-- Object -->
                        <circle cx="5" :cy="1.2 - 0.05*mass+0.1" :r="0.05*mass+0.1" fill="#ff0000"></circle>
                    </svg>
                </div>

                <div id="data" hidden>
                    <label><b>Time:</b> {{ time.toFixed(2) }} s</label>
                    <label><b>Position:</b> {{ position.toFixed(2) }} m</label>
                    <label><b>Velocity:</b> {{ velocity.toFixed(2) }} m/s</label>
                    <label><b>Acceleration:</b> {{ acceleration.toFixed(2) }} m/s<sup>2</sup></label>
                </div>
            </div>

            <div id="info" v-show="infoVisible" hidden>
                <h2>Simulation Information</h2>
                <p>This simulation consists an object that can be accelerated horizontally along a surface.</p>

                <p>You can control the simulation using these variables:</p>
                <ul>
                    <li><b>Mass:</b> The mass of the object</li>
                    <li><b>Applied Force:</b> The applied force on the object</li>
                    <li><b>Static Friction:</b> The coefficient of static friction</li>
                    <li><b>Kinetic Friction:</b> The coefficient of kinetic friction</li>
                    <li><b>Gravity:</b> The acceleration due to gravity</li>
                </ul>

                <p>The simulation also contains these output measurements:</p>
                <ul>
                    <li><b>Time:</b> The time that has passed</li>
                    <li><b>Position:</b> The current displacement of the object</li>
                    <li><b>Velocity:</b> The current velocity of the object</li>
                    <li><b>Acceleration:</b> The current acceleration of the object</li>
                </ul>

                <p>Controls:</p>
                <ul>
                    <li>Use the start <img alt="" src="../images/play.svg"> and stop <img alt="" src="../images/pause.svg"> buttons to start and stop the simulation</li>
                    <li>Use the step <img alt="" src="../images/step-forward.svg"> button to advance the simulation by 0.01 seconds</li>
                    <li>Use the reset <img alt="" src="../images/reset.svg"> button to restore the simulation to its initial state</li>
                </ul>

                <p>Equations:</p>
                <ul>
                    <li>
                        \( | F_f | = { | \mu_k \cdot m \cdot g | } \)
                        <ul>
                            <li>\(F_f\) is the force of kinetic friction on the object</li>
                            <li>\(\mu_k\) is the coefficient of kinetic friction</li>
                            <li>\(m\) is the mass of the object</li>
                            <li>\(g\) is the acceleration due to gravity</li>
                        </ul>
                    </li>
                    <li>
                        \( a = { F_{net} \over m } = { F_a + F_f \over m } \)
                        <ul>
                            <li>\(a\) is the acceleration of the object</li>
                            <li>\(F_{net}\) is the net force on the object</li>
                            <li>\(F_a\) is the applied force on the object</li>
                            <li>\(F_f\) is the force of kinetic friction on the object</li>
                            <li>\(m\) is the mass of the object</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>
