* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Segoe UI, sans-serif;
}
div[hidden] {
    display: none !important;
}

#app {
    touch-action: manipulation;
}

header {
    background-color: #48d1cc;
    color: #000000;
    width: 100%;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}
header h1 {
    font-size: 25px;
}
header a {
    position: absolute;
    left: 5px;
}
header button {
    position: absolute;
    right: 5px;
}

noscript {
    color: #ff0000;
    margin-bottom: 10px;
    text-align: center;
}

.icon, .icon:focus {
    background-color: #00000000;
    border: none;
    padding: 5px;
    cursor: pointer;
    vertical-align: middle;
    outline: 0;
}
#simulation .icon:disabled {
    filter: invert(50%);
    cursor: default;
}

#simulation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#input, #data {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px;
    background-color: #f0f0f0;
}
#input>*, #data>* {
    margin: 5px 10px;
}
#input>section>* {
    display:block;
    width: 200px;
}

#output {
    position: relative;
    left: 0px;
    margin: 10px;
    width: min-content;
    border: 1px solid #000000;
}
#output>#simControls {
    position: absolute;
    right: 0px;
    padding: 5px;
    padding-bottom: 0px;
}
#output>#zoomControls {
    position: absolute;
    left: 0px;
    padding: 5px;
    padding-bottom: 0px;
}
@media only screen and (max-width: 800px) {
    #output {
        width: calc(100% - 20px);
    }
    #output>svg {
        width: 100%;
    }
    #output .icon {
        padding: 10px;
    }
}
@media only screen and (max-width: 350px) {
    header a.icon {
        position: static;
        float: left;
    }
    header button.icon {
        position: static;
        float: right;
    }
}

#info {
    max-width: 750px;
    margin: auto;
    padding: 15px;
    padding-top: 0px;
}
#info h2 {
    text-align: center;
    margin-bottom: 5px;
}
#info>* {
    margin-bottom: 15px;
}
#info p + ul {
    margin-top: -15px;
}
#info li {
    margin-left: 30px;
}
#info img {
    vertical-align: middle;
}

/* dark mode */
@media only screen and (prefers-color-scheme: dark) {
    body {
        background: #202020;
        color: #e0e0e0;
    }
    #output {
        border: 1px solid #e0e0e0;
    }
    #input, #data {
        background-color: #404040;
    }
    #simulation .icon, #info img {
        filter: invert(1);
    }
}
